body {
    background-color: rgb(7, 1, 24);
    text-align: center;
}

h1 {
    color: rgb(255, 251, 247);
}

h3 {
    color: rgb(255, 251, 247);
}

.souhiyori {
    width: 10%;
}

.meow {
    color: rgb(255, 251, 247);
}

.woof {
    color: rgb(255, 251, 247);
}

.sara {
    color: rgb(255, 251, 247);
}

.trivia1 {
    color: rgb(255, 251, 247);
}

.trivia2 {
    color: rgb(255, 251, 247);
}

.trivia3 {
    color: rgb(255, 251, 247);
}

.trivia4 {
    color: rgb(255, 251, 247);
}

.trivia5 {
    color: rgb(255, 251, 247);
}

.trivia6 {
    color: rgb(255, 251, 247);
}

.trivia7 {
    color: rgb(255, 251, 247);
}

.trivia8 {
    color: rgb(255, 251, 247);
}

.trivia9 {
    color: rgb(255, 251, 247);
}
