body {
    background-color: rgb(7, 1, 24);
    text-align: center;
}

h1 {
    color: rgb(255, 251, 247);
}

h3 {
    color: rgb(255, 251, 247);
}

.image1 {
    width: 10%;
}

.meow {
    color: rgb(255, 251, 247);
}

.woof {
    color: rgb(255, 251, 247);
}

.sara {
    color: rgb(255, 251, 247);
}
